<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title> {% block title %}   {% endblock title %} </title>
  </head>
  <body>

  
  <style>
        /* Modify the background color */
          
        .navbar-custom {
            background-color: #FF7F50;
        }
        /* Modify brand and text color */
          
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: black;

           
        }
        


.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}





element.style {
    margin: -15px;
}




footer{ 
  background-color: #11384B; 
  text-align: center; } 


    </style>







    


<!-- start navbar--> 

  <nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img src="static/img/logo/1carlogo.png" style=" border-radius: 50%;" height="50px"  width="50px"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"> <b style=color:white;> Home </b> </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about"> <b style=color:white;>  About Us </b> </a>
        </li>

        
        <li class="nav-item">
          <a class="nav-link" href="/contact"><b style=color:white;> Contact Us </b> </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style=color:#FF7F50; href="/home" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <b style=color:white;> Services  </b> 
          </a>


          <ul class="dropdown-menu" style=color:white; aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/newcar">  New Cars</a></li>
            <li><a class="dropdown-item" href="/oldcar"> Old Cars </a></li>
            

            <li><hr class="dropdown-divider"></li>
          </ul>
         

          
        <li class="nav-item">
          <a class="nav-link" href="/insurance"> <b style=color:white;> Insurance </b> </a>
        </li> 
      </ul>



      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
         </form>


      

      {%  if user.is_authenticated %}   <!-- when i am login so show this  -->

       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style=color:white; href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <b>  {{request.user}} </b> 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="logout">Logout</a></li>
          </ul>
        </li>


      {% else  %}
       
      <!-- Button Login-->
      <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#LoginModal">
      Login
      </button>
                    
      <!-- Button SignUp -->
      <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#SignUpModal">
      SignUp
      </button>
    
      {% endif %}

          
          </ul>
        </li>
    </div>
  </div>
</nav>



<!--close navbar-->
















<!-- Modal  SignUp-->
<div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Create Your Acount </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        



    <form method="post" action="signup">
    {% csrf_token %}

      <div class="mb-3">
        <label for="username" class="form-label">  Username</label>
        <input type="text" class="form-control" id="username" name="username"  aria-describedby="emailHelp" placeholder="Create Your Username">
      </div>

      

       <div class="mb-3">
        <label for="fname" class="form-label"> First Name </label>
        <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name ">
      </div>



      <div class="mb-3">
        <label for="lname" class="form-label"> Last Name</label>
        <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name">
      </div>

      
      <div class="mb-3">
        <label for="email" class="form-label">  Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
      </div>


      
      <div class="mb-3">
        <label for="pass1" class="form-label">  Password</label>
        <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose Your Password ">
      </div>


      
      <div class="mb-3">
        <label for="pass2" class="form-label"> Conform Password  </label>
        <input type="password" class="form-control" id="pass2" name="pass2"  placeholder="Choose Your Password  ">
      </div>



      <center> <button type="submit" class="btn btn-primary"> SignUp </button>  </center> 
    </form>



      </div>

    </div>
  </div>
</div>








<!-- Modal  Login-->
<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Login Here </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        



    <form method="post" action="login">

    {% csrf_token %}

      <div class="mb-3">
        <label for="loginuser" class="form-label">  Username</label>
        <input type="text" class="form-control" id="loginuser" name="loginuser"  aria-describedby="emailHelp" placeholder="Enter Your Username">
      </div>

      



      
      
      <div class="mb-3">
        <label for="loginpass" class="form-label">  Password</label>
        <input type="password" class="form-control" id="loginpass" name="loginpass" placeholder="Enter  Your Password ">
      </div>




      <center> <button type="submit" class="btn btn-primary"> Login </button>  </center> 
    </form>



      </div>

    </div>
  </div>
</div>












{% if messages %}
    {% for message in messages %}

<div class="alert alert-success alert-dismissible fade show mb-0" role="alert" >
  <strong> {{message}} </strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

 {% endfor %}
{% endif %}










{% block body %}

{% endblock body %}












<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="static/img/socals/1whatsappp.png" width="32" height="32">
            <p><a href="/contact" target="_blank"> Contact on Us<br>WhatsApp</a> </p>
        </li>
        <li>
            <img src="static/img/socals/4twitter.png" width="32" height="32">
            <p><a href="https://twitter.com" target="_blank">Follow Us on<br>Twitter</a></p>
        </li>
        <li>
            <img src="static/img/socals/2facebook.png" width="32" height="32">
            <p><a href="https://facebook.com" target="_blank">Follow Us on<br> Facebook</a></p>
        </li>
        <li>
            <img src="static/img/socals/3instargram.png" width="32" height="32">
            <p><a href="https://www.instagram.com/" target="_blank">Follow Us on<br>instgram</a></p>
        </li>
        <li>
            <img src="static/img/socals/5youtube.png" width="32" height="32">
            <p><a href="http://www.youtube.com" target="_blank">Subscribe on<br>YouYube</a></p>
        </li>

<!-- 
        <li>
            <img src="static/img/2facebook.png" width="32" height="32">
            <p><a href="https://www.pinterest.com/codexworld" target="_blank">Follow Us on<br>Pinterest</a></p>
        </li>
      -->
    </ul>
</div>

























    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo"> <br> 
                                <a href="#">
                                    <img src="static/img/logo/1carlogo.png" height="70px" width="70px" alt="">
                                </a>
                            </div>
                            <p style=color:white;>  Satguru Chawl, Bunder Pakhadi Road,  Patil Nagar   <br> Kandivali (West) Mumbai <br>
                                <a href="/contact">+917021717010</a> <br>
                                <a href="/contact">techthakur22@gmail.com.com</a>
                            </p>

                           
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title" style=color:white;>
                               Popular Company
                            </h3>
                            <ul class="links" style=color:white;>
                                <li><a href="#"> Maruti Suzuki </a></li>
                                <li><a href="#"> Hyundai </a></li>
                                <li><a href="#">  Tata Motors </a></li>
                                <li><a href="#"> Mahindra  </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title" style=color:white;>
                             top luxury car brands
                            </h3>
                            <ul class="links double_links" style=color:white;>
                                <li><a href="#"> BMW  </a></li>
                                <li><a href="#"> Mercedes-Benz </a></li>
                                <li><a href="#"> Audi </a></li>
                                <li><a href="#"> Tesla </a></li>
                                <li><a href="#"> Porsche </a></li>
                                <li><a href="#"> Lexus </a></li>
                                <li><a href="#"> Volvo </a></li>
                                <li><a href="#"> Lamborghini </a></li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title" style=color:white;>
                                Summary
                            </h3>
                            <p style=color:white>
                            Answers found  apanacar.com is founded in 2021 and lookcar.com
                            was founded in 2020 hence Carwale is most trusted 
                            because it's in top position since 2021 apanacar.com
                            and lookscar.com 2020 both are automotive sites in India but apanacar.com
                            is most visited site in India.
                              </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center" style=color:white>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>   | <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank"> Rupesh Thakur </a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

























    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>