{% extends 'base.html' %} 

<title> {% block title %} About Us {% endblock title %}   </title>







{% block body %}
<style>
h1{
    position: absolute;
    top:260px;
    left: 100px;
    color: White;
    font-size: 60px;
    

}




</style>
<h1> About Me </h1>
<img src="static/img/about/6.jpg" height="500px" width="1349px" ><br> <br>
    

<a class="btn btn-danger" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    News
  </a>
  
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel"> <b style=color:tomato;>  News </b>  </h5> 
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <a href="static/img/about/1.jpg">  <img src="static/img/about/1.jpg" height="200px" width="350px"> </a> 
        <h5>
        Ferrari F8 Tributo 
           </h5> <b>  Rs. 4.02 Crore  </b>  
        <p>Ferrari F8 Tributo is a 2 seater coupe car available at a price of Rs. 4.02 Crore in India.
             It is available in only one variant and 14 colours. Ferrari F8 Tributo comes with BS6 compliant 
             petrol engine only. The F8 Tributo has a boot space of 200 litres. The petrol engine of F8 Tributo 
             is a 3902cc unit which generates a power of 710.74bhp and a torque of 770nm. 
             The F8 Tributo is available only with an automatic transmission.
              </p> 
              <marquee> <h4> 20% here  Thakur Cars Showroom   </h4> </marquee>

      </div>
      <a href="static/img/about/2.jpg">  <img src="static/img/about/2.jpg" height="200px" width="350px"> </a>  <br>  <br> 

      <a href="static/img/about/3.jpg">  <img src="static/img/about/3.jpg" height="200px" width="350px">  </a> 

      <div class="dropdown mt-3">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
         Views Cars 
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#"> <b style=color:red;>  New Cars </b> </a></li>
          <li><a class="dropdown-item" href="#"> <b style=color:red;> Old Cars   </b>  </a></li>
          <li><a class="dropdown-item" href="#"><b style=color:red;>  Upcoming Cars  </b>  </a></li>
        </ul>
      </div>
    </div>
  </div>



<div class="container"> 
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <a href="static/img/about/4.jpg">     <img src="static/img/about/4.jpg" height="300px" width="500px"> </a>

          <h5 class="card-title"> This website is Alwase show Orignal Price (Rs). go to apana.com and looks more cars. </h5>
          <p class="card-text">After all, the primary objective of a car dealer website is to provide as many avenues 
              to prospective customers as possible to create an interest in them for
               the cars your dealership is selling.</p>
               <p> makes a good automotive website? A great website shows the world who you are,
                    makes people remember you, and helps potential customers understand if they found
                     what they were looking for. Websites communicate all of that through color,
                      shape and other design elements
                      Many financial experts recommend keeping total car costs below 15% to 20% of your 
                      take-home pay.
                    </p>

          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <a href="static/img/about/5.jpg">    <img src="static/img/about/5.jpg" height="300px" width="500px"> </a>
          <h5 class="card-title"> apanacar.com is show all abouts cars and first to show all cars in lucnsh before some days  </h5>
          <p class="card-text"> Wix is a great option for building your car dealership website.
               Wix offers a few good templates built specifically for car dealerships,
                so it will be simple to get started. </p> <p>  Wix's templates are also very customizable, 
                so you can easily add elements or move things around to get the look you want. 
                Edmunds. The Edmunds website offers a wealth of information when it comes to vehicle reviews.
                 You can learn about everything from how the car handled in a test drive compared to similar 
                 vehicles to the cost of owning the vehicle over a five year period</p>
          
        </div>
      </div>
    </div>
  </div>


</div>










<div class="container"> 
<div class="card text-center">
    <div class="card-header">
     
    </div>
    <div class="card-body">
      <h5 class="card-title"> You can see here more types of cars </h5>

      <p class="card-text"> <b> 2021 Best Cars for the Money </b> Hyundai Accent: Best Subcompact Car for the Money. 
      Kia Forte: Best Compact Car for the Money.Toyota Camry:Best Midsize Car for the Money.
      Toyota Avalon: Best Large Car for the Money.Toyota Corolla Hybrid: Best Hybrid and Electric Car for the Money.
      </p>


        <p><b> Best Used Car Sites for 2021</b>Best Overall: AutoTrader.Best Basic Option: CarsDirect.Best 
            for Classic Cars: Hemmings. Best for Mobile: Autolist.Best for Cheap Cars: CarGurus.Best for Comparing 
            Options: AutoTempest.Best Auction Site: Cars, Bids.</p>

            <p> <b> 120,000 miles </b>
                Mileage will vary between vehicles, but a decent rule of thumb to follow 
                is that people drive an average of about 12,000 miles a year. Therefore,
                120,000 miles would be a good mileage for a used car that's about 10 years old.
                Of course, some cars will have less or more miles on the odometer.</p>
                  <p> <b>  You can see all to all types websites here  </b> </p>

    </div>
  </div>
</div>















<script>
</script>

{% endblock body %}