{% extends 'base.html' %} 

<title> {% block title %} Contact Us {% endblock title %}   </title>







{% block body %}

<style>
h1{
    position: absolute;
    top:260px;
    left: 100px;
    color: White;
    font-size: 60px;
    

}

</style>




<h1> Contact Me </h1> 

<img src="static/img/1 contact.jpg" height="520px" width="1349px"> 

 <center>   <h3>   Contact Me </h3>   </center> 






 
<div class="container my-4">

<form method="post" action="/contact">
{% csrf_token %}

  <div class="mb-3">
    <label for="name" class="form-label"> Name </label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder=" Enter Your Name">
  </div>




  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder=" Enter Your Email"> 
  </div>

   
  <div class="mb-3">
    <label for="phone" class="form-label"> Phone</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder=" Enter Your Phone Number">
  </div>


  

<div class="mb-3">
  <label for="desc" class="form-label"> Send your Questions (Description) </label>
  <textarea class="form-control" id="desc" name="desc" rows="3"> </textarea>
</div>



  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div> 




<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60283.731484869924!2d72.80985175104419!3d19.206851230193262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6c7d151eb11%3A0x53c60cb900ce3b40!2sKandivali%2C%20Kandivali%20West%2C%20Mumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1624890344281!5m2!1sen!2sin"  
                   width="1349" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>




{% endblock body %}