{% extends 'base.html' %} 

<title> {% block title %} Home {% endblock title %}   </title>







{% block body %}




<style>
  .btn-info {
    color: red;
    border-color:orange;
    background-color: white;
}




</style>


<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="static/img/1sl.jpg" height="520px"  width="1000" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="color:white; font-size:55px;">Best Quality Cars</h1>
        <h4 style=color:white;>  <li>  Test The Car for 7 Days With Money Back Gurantee  </li> </h4>  
        <h4 style=color:white;> <li> Risk Free Paperwork  </li> </h4> 
      </div>
    </div>




    <div class="carousel-item" data-bs-interval="4000">
      <img src="static/img/2sl.jpg" height="520px"  width="1000" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="color:white; font-size:55px;">Best Quality Cars</h1>
        <h4 style=color:white;>  <li>  Test The Car for 7 Days With Money Back Gurantee  </li> </h4>  
        <h4 style=color:white;> <li> Risk Free Paperwork  </li> </h4> 
      </div>
    </div>

    <div class="carousel-item">
      <img src="static/img/3slnm.jpg" height="520px"  width="1000" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="color:white; font-size:55px;">Best Quality Cars</h1>
        <h4 style=color:white;>  <li>  Test The Car for 7 Days With Money Back Gurantee  </li> </h4>  
        <h4 style=color:white;> <li> Risk Free Paperwork  </li> </h4> 
      </div>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"> <b> Next </b> </span>
  </button>
</div>









<h2> <marquee>   Welcome To Apana Car     </marquee>   </h2> 

<a class="btn btn-danger" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  News
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"> <b style=color:tomato;>  News </b>  </h5> 
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <a href="static/img/about/1.jpg">  <img src="static/img/about/1.jpg" height="200px" width="350px"> </a> 
      <h5>
      Ferrari F8 Tributo 
         </h5> <b>  Rs. 4.02 Crore  </b>  
      <p>Ferrari F8 Tributo is a 2 seater coupe car available at a price of Rs. 4.02 Crore in India.
           It is available in only one variant and 14 colours. Ferrari F8 Tributo comes with BS6 compliant 
           petrol engine only. The F8 Tributo has a boot space of 200 litres. The petrol engine of F8 Tributo 
           is a 3902cc unit which generates a power of 710.74bhp and a torque of 770nm. 
           The F8 Tributo is available only with an automatic transmission.
            </p> 
            <marquee> <h4> 20% here  Thakur Cars Showroom   </h4> </marquee>

    </div>
    <a href="static/img/about/2.jpg">  <img src="static/img/about/2.jpg" height="200px" width="350px"> </a>  <br>  <br> 

    <a href="static/img/about/3.jpg">  <img src="static/img/about/3.jpg" height="200px" width="350px">  </a> 

    <div class="dropdown mt-3">
      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
       Views Cars 
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#"> <b style=color:red;>  New Cars </b> </a></li>
        <li><a class="dropdown-item" href="#"> <b style=color:red;> Old Cars   </b>  </a></li>
        <li><a class="dropdown-item" href="#"><b style=color:red;>  Upcoming Cars  </b>  </a></li>
      </ul>
    </div>
  </div>
</div>












   
<!-- start Popular Cars -->

    <div class="container">
     <h2> Popular Cars </h2> 
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
          
          <a href="static/img/popular/1maruti.jpg">
           <img src="static/img/popular/1maruti.jpg" width="360" height="200" class="d-block w-200" alt="..."> </a>
            <div class="card-body">
              <p class="card-text"> <h5>Maruti Swift  </h5> <h6> Rs.5.73 - 8.41 Lakh  On Road Price </h6> 
                Maruti Swift is a 5 seater Hatchback available
               in a price range of Rs. 5.73 - 8.41 Lakh*  It is available in 9 variants, a 1197 cc,

              </p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

              
                <a href="static/img/popular/1maruti.jpg">
               <button type="button" class="btn btn-sm btn-outline-success">   View  </button> </a>
                </div>
              </div>
            </div>
          </div>
        </div>






        <div class="col">
          <div class="card shadow-sm">
          <a href="static/img/popular/2honda.jpg">
           <img src="static/img/popular/2honda.jpg" width="360" height="200" class="d-block w-200" alt="..."> </a>

            <div class="card-body">
              <p class="card-text"><h5> Honda City 4th Generation  </h5> <h6>  Rs.9.29 - 9.99 Lakh On Road Price </h6>
               Honda City 4th Generation is a 5 
              seater Sedan available in a price range of Rs. 9.29 - 9.99 Lakh*.
               It is available in 2 variants  </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="static/img/popular/2honda.jpg">
                  <button type="button" class="btn btn-sm btn-outline-success">View</button> </a>
                </div>
              </div>
            </div>
          </div>
        </div>







        
        <div class="col">
          <div class="card shadow-sm">
           <a href="static/img/popular/3seltos.jpg">
           <img src="static/img/popular/3seltos.jpg" width="360" height="200" class="d-block w-200" alt="..."> </a>


            <div class="card-body">
              <p class="card-text"> <h5> Kia Seltos </h5> <h6> Rs.9.95 - 17.65 Lakh On Road Price </h6> 
              Kia Seltos is a 5 seater SUV available in a price range of Rs. 9.95 - 17.65 Lakh*. 
              It is available in 16 variants, 3 engine options that are BS6.. 
               </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                     <a href="static/img/popular/3seltos.jpg">
                  <button type="button" class="btn btn-sm btn-outline-success">View</button>  </a> 
                </div>
              </div>
            </div>
          </div>
        </div>








        <div class="col">
          <div class="card shadow-sm">
          <a href="static/img/popular/4maruti.jpg">
           <img src="static/img/popular/4maruti.jpg" width="360" height="200" class="d-block w-200" alt="..."> </a> 
            <div class="card-body">
              <p class="card-text"> <h5>Maruti Suzuki Ciaz </h5> <h6> Rs. 8.52 Lakh On Road Price </h6>Mruti Ciaz is a 
              5 seater sedan car available at a price range of Rs 8.52 lakh. to 11.50 lakh in india            </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="static/img/popular/4maruti.jpg">
                  <button type="button" class="btn btn-sm btn-outline-success">View</button> </a> 
                </div>
              </div>
            </div>
          </div>
        </div>







        <div class="col">
          <div class="card shadow-sm">
           <a href="static/img/popular/5honda.jpg">
          <img src="static/img/popular/5honda.jpg" width="360" height="200" class="d-block w-200" alt="...">  </a>



            <div class="card-body">
              <p class="card-text"> <h5> Honda Amaze </h5> <h6> Rs.6.22 - 9.99 Lakh On Road Price  </h6>
             Honda Amaze is a 5 seater Sedan available in a price range of Rs. 6.22 - 9.99 Lakh.
              It is available in 22 variants,
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="static/img/popular/5honda.jpg">
                  <button type="button" class="btn btn-sm btn-outline-success">View</button> </a> 
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="col">
          <div class="card shadow-sm">
          <a href="static/img/popular/6toyoto.jpg">
          <img src="static/img/popular/6toyoto.jpg" width="360" height="200" class="d-block w-200" alt="..."> </a> 


            <div class="card-body">
              <p class="card-text"> <h5> Toyota Fortuner </h5>   <h6> Rs.30.34 - 38.30 Lakh On Road Price </h6> 
              Toyota Fortuner is a 7 seater SUV available in a price range of Rs. 30.34 - 38.30 Lakh*. 
              It is available in 7 variants,
               </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="static/img/popular/6toyoto.jpg">
                  <button type="button" class="btn btn-sm btn-outline-success">View</button> </a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- close populars cars -->








<!--start top brand latest  cars -->

<br> 
<center> 
<div class="container">  

<h3> Top  Branded  Latest Cars </h3>

<!-- Button trigger modal  1 -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
<img src="static/img/brandslogo/1bmw.png" height="100px" width="100px"> 
  <p> <b>   BMW </b> </p> 
</button>

<!-- Modal  1 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <b> BMW Z4 ,   </b>    Showroom price ₹ 66.54 Lakh.  </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">    
      <img src="static/img/brands/1bmw.jpg" height="250px" width="450px"> 
      </div>
      <div class="modal-footer">
        Speak of convertible and the BMW Z4 Roadster immediately gets a mention.
         The German luxury car manufacturer,
      </div>
    </div>
  </div>
</div>







<!-- Button trigger modal  2 -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal2">
  <img src="static/img/brandslogo/2jag.png" height="100px" width="100px"> 
  <p> <b>  JAGUAR </b> </p>
</button>

<!-- Modal  2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <b> Jaguar F-TYPE ,  </b>    Showroom price  ₹ 46.64 Lakh  </h5> 
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">    
      <img src="static/img/brands/2jag.jpg" height="250px" width="450px"> 
      </div>
      <div class="modal-footer">
        Jaguar’s entry-level model, the XE has been introduced with fresh set of cosmetic and feature upgrades.
      </div>
    </div>
  </div>
</div>









<!-- Button trigger modal  3 -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal3">
  <img src="static/img/brandslogo/3farari.png" height="100px" width="100px"> 
  <p> <b>   FERRARI </b> </p>
</button>

<!-- Modal  3-->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <b> Ferrari F8 Tributo,  </b>    Showroom price  ₹ .4.02 Cr  </h5> 
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">    
      <img src="static/img/brands/3farari.jpg" height="250px" width="450px"> 
      </div>
      <div class="modal-footer">
        Ferrari F8 Tributo is a 2 seater Coupe available in a price range of  ₹ . 4.02 Cr*. It is available in 1 variants,
      </div>
    </div>
  </div>
</div>



<!-- Button trigger modal  4 -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal4">
  <img src="static/img/brandslogo/4tesla.png" height="100px" width="100px"> 
  <p> <b>   TESLA </b> </p>
</button>

<!-- Modal  4-->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <b> Tesla Model S  </b>    Showroom price  ₹  .1.50 Cr* </h5> 
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">    
      <img src="static/img/brands/4tesla.jpg" height="250px" width="450px"> 

      </div>
      <div class="modal-footer">
        Tesla Model S is a seater sedan. The Tesla Model S is expected to launch in India in July 2021.
      </div>
    </div>
  </div>
</div>



<!-- Button trigger modal  4 -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal5">
  <img src="static/img/brandslogo/5rolls.png" height="100px" width="100px">
  <p> <b>   Rolls-Royce  </b> </p> 
</button>

<!-- Modal  4-->
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <b> Rolls-Royce Rolls Royce Wraith </b>    Showroom price ₹ .6.22 - 7.21 Cr </h5> 
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">    
      <img src="static/img/brands/5rolls.jpg" height="250px" width="450px"> 
      </div>
      <div class="modal-footer">
        Rolls-Royce Rolls Royce Wraith is a 4 seater Super Luxury available in a price range of ₹. 6.22 - 7.21 Cr*.
      </div>
    </div>
  </div>
</div>





<!-- Button trigger modal  4 -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal6">
  <img src="static/img/brandslogo/6lam.png" height="100px" width="100px"> 
  <p><b>  Lamborghini  </b> </p>
</button>

<!-- Modal  4-->
<div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <b> Lamborghini Aventador</b>    Showroom price ₹ 5.01 - 6.25 Cr</h5> 
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">    
      <img src="static/img/brands/6lam.jpg" height="250px" width="450px"> 
      </div>
      <div class="modal-footer">
        Lamborghini Aventador is a 2 seater Coupe available in a price range of Rs. 5.01 - 6.25 Cr*. 
        It is available in 3 variants,
      </div>
    </div>
  </div>
</div>




<!-- Button trigger modal  4 -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal7">
  <img src="static/img/brandslogo/7ben.png" height="100px" width="100px"> 
  <p>  <b> Bentley Mulsanne </b>  </p> 
</button>

<!-- Modal  4-->
<div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <b>Bentley Mulsanne </b>    Showroom price ₹ 5.56 Crore</h5> 
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">    
      <img src="static/img/brands/7ben.jpg" height="250px" width="450px"> 
      </div>
      <div class="modal-footer">
        Bentley Mulsanne Versions: Mulsanne is available in 1 variants. All the variants are Automatic.
      </div>
    </div>
  </div>
</div>





<!-- Button trigger modal  4 -->
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal8">
  <img src="static/img/brandslogo/8zenvo.png" height="100px" width="100px"> 
  <p>  <b> Zenvo  </b>   </p>
</button>

<!-- Modal  4-->
<div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <b>Zenvo ST1 V8 </b>    Showroom price ₹ 7.80 Crore</h5> 
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">    
      <img src="static/img/brands/8zenvo.jpg"  height="250px" width="450px"> 
      </div>
      <div class="modal-footer">
        Top Speed (KMPH)	375,Maximum Power	1104 Bhp @ 6900 rpm  Maximum Torque	1430 Nm @ 4500 rpm ,  Ground Clearance	105.00 mm
      </div>
    </div>
  </div>
</div>


</div>   

</center>
<!--close top brand  latest car-->



<img src="static/img/brands/9n.jpg" style="margin-left:95px;">




<script>



</script> 




{% endblock body %}