{% extends 'base.html' %} 

<title> {% block title %} New Car {% endblock title %}   </title>







{% block body %}




<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BizLand Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: BizLand - v3.3.0
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>







<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>




<body>


<style>
.footer{
  background-color: #11384B;;
}


.categories__slider.owl-carousel .owl-nav button {
    color: black;
    background: #FF7F50;
    font-size: 18px;
    /* color: #1c1c1c; */
    height: 70px;
    width: 30px;
    /* line-height: 70px; */
    text-align: center;
    border: 1px solid #ebebeb;
    position: absolute;
    left: -35px;
    top: 50%;

}

</style>







  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1 style="color: chocolate;"> Looks  <span> New Cars </span></h1>
      <h2>  <i> Here is More types of car available like BMW , Maruti Swift , <br> Toyota Fortuner, Hyundai Venue,  </i> </h2>
      <div class="d-flex">
      </div>
    </div>
  </section><!-- End Hero -->































  <main id="main">
    
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
        
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <a href="#"> 
              <img src="static/img/newcar/1n.jpg" height="150px" width="200px"> </a> 
              <h4 class="title" style="color: chocolate;"> Ferrari 812 Superfast – Rs 5.2 crore </h4>
              <p class="description"> The 812 Superfast is the latest super GT from Maranello.
               It has a screaming 6.5-litre naturally-aspirated V12 that 
               puts out 800hp and 718Nm of torque,
              </p>
            </div>
          </div>


         <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <a href="#"> 
              <img src="static/img/newcar/2n.jpg" height="150px" width="200px"> </a>
              <h4 class="title" style="color: chocolate;"> Lamborghini Aventador S – Rs 5.89 crore* </h4>
              <p class="description">It’s hard to imagine the Aventador S as the ‘regular’
               V12 Lamborghini. With the introduction of the SVJ, the S is the softer,
                road-focused version of the Aventador. 
              </p>
            </div>
          </div>



           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <a href="#"> 
              <img src="static/img/newcar/3n.jpg" height="150px" width="200px"> </a>
              <h4 class="title" style="color: chocolate;">  Rolls-Royce Dawn – Rs 6.25 crore  </h4>
              <p class="description"> Claimed to be the quietest convertible in the world, the Dawn 
              is as opulent and refined as any other Rolls-Royce. It shares its 632hp,V12 powerplant with
               the Wraith and provides.
              </p>
            </div>
          </div>



           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <a href="#">  
              <img src="static/img/newcar/4n.jpg" height="150px" width="200px"> </a>
              <h4 class="title" style="color: chocolate;"> Lamborghini Aventador SVJ – Rs 8.5 crore </h4>
              <p class="description"> The latest in a line of impressive V12 Lambos, the Aventador SVJ is arguably the best one yet.
               Its 6.5-litre V12 now produces... 
              </p>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Featured Services Section -->
<br> <br> 










<div class="card bg-dark text-white">
  <img src="static/img/newcar/51.jpg" height="500px" class="card-img" alt="...">
  <div class="card-img-overlay">
    <center>  <i>  <h4 class="card-title" style="margin-top: 130px;">  Ferrari   </h4>
    <p class="card-text"> This article is about the automobile manufacturer. For Ferrari road-models </p>  <p>  produced, see List of Ferrari road cars. For the 2003 biographical film, </p> 
    <p> see Ferrari (film). For other uses of the name, see Ferrari (disambiguation). </p>
    <p>   "Ferraris" redirects here. For the surname,  </p> </i> </center>
  </div>
</div>




<br> <br> 





















    <!-- Categories Section Begin   




    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <a href="#"> <div class="categories__item set-bg" data-setbg="static/img/newcar/301.jpg"> 
                        </div> </a>
                        <h6> <b> Maruti XL6 ,   Rs.9.94 - 11.73 Lakh </b> </h6>
                    </div>
                    


                    <div class="col-lg-3">
                        <a href="#"> <div class="categories__item set-bg" data-setbg="static/img/newcar/302.jpg">
                        </div>  </a>
                        <h6> <b> Mahindra XUV300 , Rs7.95 - 13.09 Lakh </b> </a></h6>
                    </div>


                    <div class="col-lg-3">
                        <a href="#">  <div class="categories__item set-bg" data-setbg="static/img/newcar/303.jpg">
                           
                        </div> </a>
                        <h6> <b> Hyundai Creta , Rs.9.99 - 17.70 Lakh  </b>  </h6>
                    </div>

        
                    <div class="col-lg-3">
                        <a href="#"> <div class="categories__item set-bg" data-setbg="static/img/newcar/304.jpg">
                        </div> </a>
                        <h6> <b> Tata Harrier XZA Plus Dual Tone AT , Rs20.81 Lakh* </b> </h6>
                    </div>


                    <div class="col-lg-3">
                        <a href="#"> <div class="categories__item set-bg" data-setbg="static/img/newcar/305.jpg">
                           
                        </div> </a>
                        <h6>  <b> Skoda Kushaq , Rs10.50 Lakh  </b>  </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>



     Categories Section End -->

















    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <a href="#"> <div class="categories__item set-bg" data-setbg="static/img/newcar/306.jpg"> 
                        </div> </a>
                        <h6> <b> Maruti Grand Vitara , Rs.22.70 Lakh   </b> </h6>
                    </div>
                    


                    <div class="col-lg-3">
                        <a href="#"> <div class="categories__item set-bg" data-setbg="static/img/newcar/307.jpg">
                        </div>  </a>
                        <h6> <b> Hyundai Elantra , Rs17.85 - 21.12 Lakh  </b> </a></h6>
                    </div>


                    <div class="col-lg-3">
                        <a href="#">  <div class="categories__item set-bg" data-setbg="static/img/newcar/308.jpg">
                           
                        </div> </a>
                        <h6> <b> Isuzu D-Max , Rs.16.98 - 24.49 Lakh*  </b>  </h6>
                    </div>

        
                    <div class="col-lg-3">
                        <a href="#"> <div class="categories__item set-bg" data-setbg="static/img/newcar/309.jpg">
                        </div> </a>
                        <h6> <b> Toyota Fortuner ,  Rs.30.34 - 38.30 Lakh* </b> </h6>
                    </div>


                    <div class="col-lg-3">
                        <a href="#"> <div class="categories__item set-bg" data-setbg="static/img/newcar/310.jpg">
                           
                        </div> </a>
                        <h6>  <b> MG Gloster , Rs29.98 - 36.88 Lakh </b>  </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->







    <!-- Js Plugins -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/jquery.slicknav.js"></script>
    <script src="static/js/mixitup.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/main.js"></script>





















  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>





{% endblock body %}